<h2>Вопрос - <%= @question.test.title %></h2>

<p>
  <%= @question.body %>
</p>

<h2>Ответы</h2>

<%= link_to 'Новый ответ', new_question_answer_path(@question) %>

<ol>
<%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Редактировать', edit_question_path(@question) %>
  <%= link_to 'Назад',edit_question_path(@question.test) %>
</p>
