<h1>Тест <%= test_passage.test.title%> пройден</h1>
<h3><%= result_message(@test_passage) %>
<strong style=<%= result_style(@test_passage) %>>
  <%= @test_passage.result %>%</strong></h3>
<h3>Правильных ответов: <%= @test_passage.correct_questions %></h3>
<%= link_to 'Вернуться к списку тестов', tests_path %>
