<footer>
  <p><%= t('.year') %> <%= current_year %></p>
  <p><%= t('.author') %> Мадина Абдуразакова</p>
  <p><%= github_url('MadinaAbd', 'Test-Guru') %></p>
  <p><%= t('.about') %></p>
  <p><%= t('.project') %> <a target="_blank" href="https://thinknetica.com/">Thinknetica</a></p>
</footer>
