<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p class="nav user"> <b> <%= link_to 'Test Guru', tests_path, method: :get %> </b></p>
    <p class="nav user">Добро пожaловать, <b><%= current_user.name %></b>. </p>
    <p class="nav user"><%= link_to 'Выйти', destroy_user_session_path, method: :delete %> </p>
    <% end %>

    <%= yield %>

    <%= render 'shared/flash' %>
    <%= render 'shared/footer' %>
  </body>
</html>
